In [1]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
X, y = make_classification(
    n_samples=2000,
    n_features=10,
    n_classes=4,
    n_redundant=2,
    n_clusters_per_class=1,
    n_informative=3,
    n_repeated=2,
    random_state=42
)

X = pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9
0,-3.510805,1.604898,-0.347161,0.687902,1.779017,1.716479,-3.510805,0.294805,0.917772,-3.510805
1,2.329569,-0.439917,-1.296049,1.017957,-2.224201,-0.151951,2.329569,-1.107031,-0.178681,2.329569
2,3.085395,-0.132075,1.734042,-0.892773,-3.777559,0.697798,3.085395,-2.138343,0.384209,3.085395
3,-0.311929,0.733765,0.826453,0.000560,-0.026274,-0.813180,-0.311929,-0.683097,-0.744979,-0.311929
4,-0.361655,0.189315,-0.596325,0.212726,0.143369,0.214294,-0.361655,-0.004584,0.528635,-0.361655
...,...,...,...,...,...,...,...,...,...,...
1995,-0.868585,-0.438451,1.106710,-1.739205,1.995609,-1.273685,-0.868585,1.321807,-2.274621,-0.868585
1996,0.482166,0.263476,0.598172,0.104514,-0.480023,-0.825551,0.482166,-0.637199,-0.975533,0.482166
1997,0.181854,-1.056538,0.109572,-0.356092,0.771304,0.176661,0.181854,1.259180,-0.416438,0.181854
1998,-1.256379,0.377057,1.493928,1.806859,1.162742,-0.162462,-1.256379,0.430598,-0.330659,-1.256379
1999,2.143106,-1.388939,0.399997,1.587401,-0.340292,-1.841270,2.143106,0.428688,0.165859,2.143106

In [4]:
x_scalar = MinMaxScaler().fit_transform(X)
x_scalar

array([[0.22229181, 0.88349522, 0.50496499, ..., 0.50411278, 0.63819719,
        0.22229181],
       [0.82193217, 0.59826885, 0.37094462, ..., 0.3360469 , 0.48627961,
        0.82193217],
       [0.89953396, 0.64120908, 0.79891316, ..., 0.21240302, 0.56427009,
        0.89953396],
       ...,
       [0.60142284, 0.51225784, 0.56947375, ..., 0.61973165, 0.45333743,
        0.60142284],
       [0.45375723, 0.71222663, 0.7649996 , ..., 0.52039304, 0.46522253,
        0.45375723],
       [0.80278768, 0.46589203, 0.61049323, ..., 0.52016408, 0.53401687,
        0.80278768]])

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x_scalar, y, random_state=42, test_size=0.3)

In [12]:
pca = PCA(n_components=0.8)
pca.fit(x_train)
transformedX_test = pca.transform(x_test)
pd.DataFrame(pca.fit_transform(X))

             0         1         2
0     6.507886  1.551677 -0.020942
1    -4.752285  2.474226 -0.717354
2    -6.240301  3.897495 -1.153925
3     0.140648  1.659445  1.318416
4     0.456086  1.190732  0.117355
...        ...       ...       ...
1995  1.444590 -1.429249  1.847798
1996 -1.326815  1.538343  0.910404
1997 -0.358946 -0.762388 -0.313822
1998  2.134209  0.402841  0.497499
1999 -4.350255 -0.372076  0.562218

[2000 rows x 3 columns]